.products-sec-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe3eb; /* Soft pink background */
    padding: 4rem 2rem;
    margin-top:10%;
    margin-bottom:10%;
    flex-wrap:wrap;
}
.title-center {
    font-size: clamp(1.8rem, 4vw, 2.5rem); /* Responsive */
    font-weight: 700;
    margin-bottom: 3rem;
    color:#FF577F;
  }

.products-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
    margin-bottom: 3rem;    
}

.product-category-section{
    max-width:350px;
    width:330px;
    height:460px;
    display:flex;
    flex-direction:column;
}
.category_type_white_dash{
    width:330px;
    height:60px;
    background-color: white;
    color:#ff577f;
    font-size:20px;
    font-weight:bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-category-section img{
    height:270px;
    width:330px;
    object-fit:cover;

}

.button-pink {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 18px rgba(255, 87, 127, 0.2);
  }
  
  .button-pink:hover {
    transform: translateY(-6px); /* float up */
    box-shadow: 0 12px 24px rgba(255, 87, 127, 0.35);
  }
  
  .button-pink a {
    color: #FF577F;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(1rem, 2.5vw, 1.1rem); /* Responsive */
  }

  @media (max-width: 768px) {
    .product-category-section{
        width:230px;
        height:360px;
    }
    .product-category-section img{
        height:360px;
        width:230px;
    
    }
    .category_type_white_dash{
        width:230px;
        height:40px;
    }
  }
  